.img-size{
  width: 100px;
  padding: 10px
}

.block_container
{
  text-align:center;
}
.bloc2
{
  float:right
}

label {
  /*display: inline-block;*/
  width: 140px;
  text-align: left;
  font-weight: lighter;
  margin-right: 10px;
}​

.user-credit-info{
  display:none;
}

.card-info-input{
  border: 1px solid #e5c59d;
}
.content {
  background-color: #fefcf5;
  padding: 30px 30px 60px 30px !important;
  font-family: "PT Sans", Helvetica, serif;
  color:#47221a;
  border: solid 1px #f1c682;
}

.container .yo{
  padding: 0;
}
