<div class="container-fluid">
  <div class="container">
    <div>
      <app-cart-stage [order_step]=3></app-cart-stage>
      <h2 class="title">Select a payment method </h2>
      <div class="content">
        <div class="container yo col-sm-5">
          <div *ngFor="let option of paymentOptions">
            <input type="radio" name="payment" (click)="checked(option.name)">
            <label for="{{option.name}}">
              <img src="{{option.image}}" alt="{{option.name}}" class="img-size">
            </label>
          </div>
        </div>
        <div class="container col-sm-7">
          <label>Name on card: </label>
          <input type='text' class="card-info-input" [(ngModel)]="paymentOption.name">
          <label>Credit card number: </label>
          <input type='text' class="card-info-input" [(ngModel)]="paymentOption.cardNumber">
          <label>Expiry date: </label>
          <input type='text' class="card-info-input" [(ngModel)]="paymentOption.expiryDate">
          <label>CVC: </label>
          <input type='text' class="card-info-input" [(ngModel)]="paymentOption.cvc">
        </div>
        <br>
        <br>
        <button class="btn btn-style" (click)="validate()">CONTINUE</button>
      </div>
    </div>
    </div>
</div>
