
  <div class="container"><app-cart-stage [order_step]=2></app-cart-stage>
    <h2 class="title">Enter a delivery adress</h2>
  <div class="content">
    <div>
    <div class="body">
      <div class="form-group text-left">
        <label  class="info-label">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="this.address.firstName">
      </div>
      <div class="form-group text-left">
        <label  class="info-label">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="this.address.lastName">
      </div>
      <div class="form-group text-left">
        <label  class="info-label">Street Address</label>
        <input type="text" class="form-control" [(ngModel)]="this.address.street">
      </div>
      <div class="form-group text-left">
        <label  class="info-label">City</label>
        <input type="text" class="form-control" [(ngModel)]="this.address.city">
      </div>
      <div class="form-group text-left">
        <label  class="info-label">Zipcode</label>
        <input type="text" class="form-control" [(ngModel)]="this.address.zipcode">
      </div>
      <div class="form-group text-left">
        <label  class="info-label">Country</label>
        <input type="text" class="form-control" [(ngModel)]="this.address.country">
      </div>
    </div>
    <button  class="btn btn-style"
    (click)="this.submit()">CONTINUE</button>

    </div>
  </div>
</div>
