.box-btn-checkout{
  text-align: center;
}

.btn-style{
  color: #e6d6aa;
  background-color: #913c36;
  border-radius: 30px;
  padding-right: 40px;
  padding-left: 40px;
  alignment: bottom;
}

.btn-style:active{
  color: #e6d6aa;
  background-color: #c97417;
}


.no-padding{
  padding: 0;
  margin: auto
}


.row-style{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid #e5c59d;
  border-width: 1px;
}

.row-info{
  margin-left: 10px;
}

.address-edit{
  padding: 0 0 0 25px;
}

.edit-link{
  color: #c97417;
  padding: 0;
}

.edit-bar{
  color:#47221a;
  padding:5px
}


.btn-save{
  color: #e6d6aa;
  background-color: #913c36;
  border: none;
  border-radius: 30px;
  padding: 6px 40px;
  margin-top: 20px;
  float: right;
}

.address-info{
  padding-left: 10px;
}
