.container-fluid{
  background-image: url(https://i.imgur.com/OU384Bw.jpg);
  background-repeat: repeat;
  height: 100vh;
}

.content {
  background-color: #fefcf5;
  margin-top: 5%; /* 15% from the top and centered */
  padding: 15px;
  width: 80%;
  min-width: 330px;
  max-width: 700px;
  font-family: "PT Sans", Helvetica, serif;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e5c59d;
}

.btn-style{
  color: #e6d6aa;
  background-color: #913c36;
  border-radius: 30px;
  padding-right: 40px;
  padding-left: 40px;
  alignment: bottom;
}

.btn-style:active{
  color: #e6d6aa;
  background-color: #c97417;
}

.center-content{
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 310px;
}

.center-foot{
  padding: 30px 30px 0;
  text-align: center;
}

.connexion-opt{
  padding-top: 30px;
}

.connextion-link{
  color: #c97417
}

.text-left{
  color: #47221a;
  margin-top: 20px;
  font-size: 13px;
}

.info-title{
  color: #47221a;
  margin-bottom: 30px;
}
.info-label{
  margin: 0;
}

input, select, textarea {
  background: rgba(255,255,255,0.8);
  border: 1px solid #e5c59d;
  border-radius: 4px;
  width: 95%;
}

input:focus {
  border:1px solid #e5c59d;
  box-shadow: 0 0 5px #e5c59d;
}
