.navbar {
    margin-bottom: 0;
    background-color:#c97417 ;
    z-index: 2;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
    position: fixed;
    width: 90%;
    min-height: 30px !important;
    height: 30px !important;
  }
  
  .navbar li a, .navbar .navbar-brand, .navbar li p {
    color: #f1c682;
    padding-top: 5px !important;
    font-size: 12px !important;
    padding-left: 5px;
    padding-right: 5px;
    white-space:pre;
    height: 30px;
  }

  .navbar li {
    height: 30px;
  }

  .navbar li p{
      height: 30px;
      padding-top: 6px !important;
  }

  .navbar li p:hover{
    cursor: default;
  }

  .navbar li a:not([href]){
    cursor: pointer;
  }

  .navbar li.disabled{
    cursor: default !important;
  }
  
  .navbar-nav li.active a {
    color: #47221a !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #f1c682 !important;
  }

  .btn-default {
    background-color: #1e3d42 !important;
    color: #fafbff !important;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
  } 
  .btn-default:hover {
    background-color: #2a495e;
    color: #fafbff;
  } 

  #second-navbar {
    padding-top:30px !important;
    z-index: 1 !important;
    min-height: 60px !important;
    height: 60px !important;
  }

  #first-navbar {
      border-bottom: #f1c682 1px solid;
  }

  .form-control {
    height: 20px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    background-color: #fafbff;
    color: #47221a;
  }
  .form-control:focus {
      border-color: #47221a !important;
  }

  .currentItem a:hover {
    cursor: default;
  }

  .disabled {
    cursor: pointer !important;
  }

  .navbar-right{
    height: 30px;
  }

  .navbar-center{
    height: 30px;
    padding-left: 35% !important;
  }

  .custom-disabled  {
    color: #47221a !important;
    cursor: default !important;
  }

  .dropdown-menu {
    border: 0;
    display: none;
    position: absolute;
    background-color: #c97417;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 0;
    padding: 0;
    z-index: 1;
    border-radius: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-menu a {
    float: right;
    padding: 12px 16px 16px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 30px;
    width: 120px;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .navbar-nav .dropbtn {
    text-align: right;
    width: 120px;
    cursor: default !important;
  }

  .dropdown:hover .dropbtn, .dropdown-menu a:hover {
    background-color: #47221a !important;
  }

  .container-fluid {
    height: 30px;
  }