<nav class="navbar navbar-default" id="first-navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                    <li><input type="text" class="form-control" [(ngModel)]="this.search"></li>
                    <li><button class="btn btn-default" (click)="launchSearch()">Search</button></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p>Per Page:</p></li>
                <li><a (click)="this.changeMaxNumberOfItemsPerPage(16)" [className]="this.toggleMaxNumbeOfItemsPerPageClass(16)">16</a></li>
                <li><a (click)="this.changeMaxNumberOfItemsPerPage(32)" [className]="this.toggleMaxNumbeOfItemsPerPageClass(32)">32</a></li>
                <li><a (click)="this.changeMaxNumberOfItemsPerPage(64)" [className]="this.toggleMaxNumbeOfItemsPerPageClass(64)">64</a></li>
            </ul>
        </div>
</nav>
<nav class="navbar navbar-default" id="second-navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
                <li><p *ngIf="numberOfItems !== 0">{{firstItemOnPageIndex}}-{{lastItemOnPageIndex}} of {{numberOfItems}}</p>
                    <p *ngIf="numberOfItems === 0">0 of {{numberOfItems}}</p></li>
        </ul>
        <ul class="nav navbar-nav navbar-center">
                <li><a [className]="this.toggleLeftArrowClass()" (click)="prevPage()"><span class="glyphicon glyphicon-menu-left"></span>Prev</a></li>
                <li *ngIf="this.currentPage !== this.firstPage" (click)="this.changePage(this.firstPage)"><a>{{firstPage | numberFormat}}</a></li>
                <li *ngIf="this.cutPageNumbersLeft()"><p>...</p></li>
                <li *ngIf="this.currentPage - this.firstPage === 5"><p>{{this.firstPage + 1 | numberFormat}}</p></li>
                <li *ngFor="let pageNumber of this.enumerateLowerPageNumbers()" (click)="this.changePage(pageNumber)"><a>{{pageNumber | numberFormat}}</a></li>
                <li><a class="custom-disabled">{{currentPage | numberFormat}}</a></li>
                <li *ngFor="let pageNumber of this.enumerateHigherPageNumbers()" (click)="this.changePage(pageNumber)"><a>{{pageNumber | numberFormat}}</a></li>
                <li *ngIf="this.lastPage - this.currentPage === 5"><p>{{this.lastPage - 1 | numberFormat}}</p></li>
                <li *ngIf="this.cutPageNumbersRight()"><p>...</p></li>
                <li *ngIf="this.currentPage !== this.lastPage" (click)="this.changePage(this.lastPage)"><a>{{lastPage | numberFormat}}</a></li>
                <li ><a [className]="this.toggleRightArrowClass()" (click)="nextPage()" > Next<span class="glyphicon glyphicon-menu-right"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropbtn"> Sort
                <span class="caret"></span></a>
                <div class="dropdown-menu">
                  <a *ngFor="let sortType of this.sortTypes" (click)="this.sortProducts(sortType)">{{sortType}}</a>
                </div>
              </li>
        </ul>
    </div>
</nav>
<app-shop-main [products] = "products"></app-shop-main>