<div class="container-fluid">
  <div class="container">
      <div class="content">
        <img class="logo" src="../../../assets/Graphicloads-Food-Drink-Coffee-bean.ico" alt="Feir beans">
        <h3 class="thanks">Thank you!</h3>
        <div> Your order has been successfully processed!</div>
        <div>
        {{getNumberItemsMessage()}}
        </div>
        <div>{{address.firstName}} {{address.lastName}} </div>
        <div>{{address.street}}</div>
        <div>{{address.city}}, {{address.country}}</div>
        <div>{{address.zipcode}}</div>
        <div class="review-message">
        <div>You can view your order history <a routerLink="/orders" class="link-layout">here!</a></div>
        </div>
        <div>Thanks for shopping with us!</div>
        <a routerLink="/shop" class="link-layout" (click)="placeOrder()">Continue shopping</a>
      </div>
  </div>
</div>
