.logo{
  width: 100px;
  padding: 15px
}

.content{
  text-align: center;
}

.thanks{
  font-weight: bold;
}

.order-number{
  font-weight: bold;
  padding-top: 30px;
}

.review-message{
  padding: 30px
}

.container{
  max-width: 500px ;
}
