<div *ngIf="this.products">
  <div class="modal-header">

    <h3 class="modal-title">Products in order {{id}}</h3>
  </div>
  <div class="modal-body">
    <div class="container yiha">
      <div class="col-xs-6 item-center"><strong>Product</strong></div>
      <div class="col-xs-6 item-center"><strong>Quantity (kg)</strong></div>
      <div *ngFor="let item of products">
        <div class="col-xs-6 item-center">{{item.name}}</div>
        <div class="col-xs-6 item-center">{{item.quantity}}</div>
      </div>
    </div>
    <div><br></div>
  </div>
</div>


