<div id="mySidenav" class="sidenav">
    <a (click)="this.getAllProducts(); myForm.reset()">All Products</a>
    <a [class]='this.menuItemClass(this.categoryMenuIsVisible)' (click)="this.toggleCategoryMenu()">Categories <span class="caret"></span></a>
    <div *ngIf="this.categoryMenuIsVisible">
        <a class = "subMenu" *ngFor="let cat of this.categories" (click)="this.changeCategory(cat)">{{cat}}</a>
    </div>
    <a [class]='this.menuItemClass(this.roastMenuIsVisible)' (click)="this.toggleRoastMenu()">Roast <span class="caret"></span></a>
    <div *ngIf="this.roastMenuIsVisible">
            <div class="checkbox checkboxSubMenu" *ngFor="let roast of this.roasts">
                <label><input type="checkbox"  (change)="this.toggleRoast(roast.name)" [(ngModel)]="roast.value" >{{roast.name}}</label>
            </div>
    </div>
    <a [class]='this.menuItemClass(this.roasterMenuIsVisible)' (click)="this.toggleRoasterMenu()">Roaster <span class="caret"></span></a>
    <div *ngIf="this.roasterMenuIsVisible">
        <div class="checkbox checkboxSubMenu" *ngFor="let roaster of this.roasters">
            <label><input type="checkbox" (change)="this.toggleRoaster(roaster.name)" [(ngModel)]="roaster.value">{{roaster.name}}</label>
        </div>
    </div>
</div>
<div class="main">
    <app-shop-navbar [requestCriterias] = 'this.requestCriterias' (roasts) = "wrapRoasts($event)" (roasters) = "wrapRoasters($event)" (newSearch) = resetRoastAndRoasters()></app-shop-navbar>
</div>