/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10%; /* width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #c97417;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 20px from the top */
    border-right: #f1c682 1px solid;
  }
  
  /* The navigation menu links */
  .sidenav a, .sidenav label {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    color: #f1c682;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #47221a;
    cursor: pointer;
  }

  .custom-selected  {
    color: #47221a !important;
  }
  
  .sidenav a:active {
    font: bolder;
  }
  
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .main {
    margin-left: 10%;
  }

  .subMenu {
    padding-left: 30px !important;
  }

  .checkboxSubMenu {
    padding-left: 20px !important;
  }

  .checkbox {
    margin: 0 !important;
  }