.container-fluid{
  min-width: 301px;
  font-family: "PT Sans", Helvetica, serif;
  color:#47221a;
  background: #f1c682 url(https://i.imgur.com/OU384Bw.jpg) repeat;
  padding:0;
}

.content {
  background-color: #fefcf5;
  padding: 30px;
  font-family: "PT Sans", Helvetica, serif;
  color:#47221a;
  border: solid 1px #f1c682;
}

.container{
  padding: 15px 0;
}

.box-btn-checkout{
  text-align: center;
}

.btn-style {
  color: #e6d6aa;
  background-color: #913c36;
  border-radius: 30px;
  padding-right: 40px;
  padding-left: 40px;
}

.title{
  padding-top: 30px;
}

.link-layout{
  color: #c97417;
}
