.container {
  padding: 10px 0 50px;
  margin-right:auto;
  margin-left:auto
}

ol {
  position: relative;
  display: block;
  margin: 50px 0 0;
  padding-left: 0;
  height: 2px;
  background: #f1c682;
  min-width: 350px;
  max-width: 450px;
}

li {
  color: #f1c682;
  position: relative;
  display: inline-block;
  width: 25%;
  font-size: smaller;
}

.icon-cart{
  color: #c97417;
  margin-top: -22px;
  position: absolute;
  font-size: 20px;
}

.glyphicon:hover {
  cursor: default !important;
}
