<ol>
      <span *ngFor="let step of steps">
        <span *ngIf="step.step==order_step">
          <div class="glyphicon glyphicon-shopping-cart icon-cart"></div>
        </span>
        <span *ngIf="step.step<=order_step; then thenBlock else elseBlock"></span>
        <ng-template #thenBlock>
          <a routerLink="/{{step.route}}" type="submit">
            <li [ngStyle]="{'color': '#c97417','font-weight':'bolder'}">{{step.title}}</li>
        </a>
        </ng-template>
        <ng-template #elseBlock>
          <li [ngStyle]="{'color': '#f1c682'}">{{step.title}}</li>

        </ng-template>
      </span>
</ol>

