.carousel-control.right, .carousel-control.left {
    background-image: none;
    color:  #f1c682;
  }
  
  .carousel-indicators li {
    border-color:  #47221a;
  }
  
  .carousel-indicators li.active {
    background-color:  #47221a;
  }
  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
    color: #c97417;
  }
  
  .item span {
    font-style: normal;
  }

  .carousel {
    background-image: url("https://i.imgur.com/p1z9SkN.png");
  }

  .carousel-inner {
    cursor: pointer !important;
  }