<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li *ngFor="let promotion of this.promotions; let i = index" 
    [attr.data-index]="i" 
    data-target="#myCarousel" 
    [attr.data-slide-to]="i" 
    (click)="this.currentlyDisplayedPromotion = i"
    [class]="this.getIndicatorClass(i)"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div *ngFor="let promotion of this.promotions; let i = index" 
    [attr.data-index]="i" 
    [class]="this.getCarouselClass(i)"
    [routerLink]="['/shop', {promotion: promotion.id}]">
    <h4>Click here to browse this limited promotion!<br><span style="font-style:normal;">{{promotion.description}}</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>