<div class="tableau-head">
    <div class="row">
        <div class="col-xs-5 item-center">Item Ordered</div>
      <div class="col-xs-3 item-center">Price ($/kg)</div>
      <div class="col-xs-2 item-center">Quantity (kg)</div>
      <div class="col-xs-2 item-center">Total ($)</div>
    </div>
  </div>
<div class="tableau-body">
  <div class="row">
    <div *ngFor="let item of orderService.products">
      <div class="col-xs-5 item-center">{{item.name}}</div>
      <div class="col-xs-3 item-center">{{item.price}}</div>
      <div class="col-xs-2 item-center">{{item.quantity}}</div>
      <div class="col-xs-2 item-center">{{getTotal(item)}}$</div>
    </div>
  </div>
</div>
<div class="tableau-footer">
  <div class="row">
      <div class="col-xs-5 item-center"></div>
    <div class="col-xs-3 item-center"></div>
    <div class="col-xs-2 item-right"><strong>Order total:</strong></div>
    <div class="col-xs-2 item-center"><strong>{{orderService.orderTotal|currency}}</strong></div>
  </div>
</div>

