.page-title{
  font-weight: bold;
}

.box{
  margin-top: 30px;
  width: 70%;
  float: left
}

.box-summary{
  margin-top: 30px;
  float: right;
  width: 70%;
}

.user-name{
  font-weight: bold;
}

.shipping-address{
  margin-bottom: 30px;
}

.shipping-address-details{
  padding: 2px
}

.center-buttom{
  text-align: center;
  margin-top: 30px;
}

.total-order{
  margin-top: 10px;
  background: #e5c59d;
  font-weight: bolder;
  padding: 5px;
  border-top: #47221a solid 1px;
}

.col-sm-6 {
  padding: 0;
}

