.tableau-head{
  padding: 10px;
  color: #f1c682;
  background-color: #47221a;
  border-color: #e5c59d;
}

.tableau-body {
  padding: 10px;
  border:solid #e5c59d  1px;
}

.tableau-footer{
  padding: 10px;
  color: #47221a;
  background-color: #e5c59d;
  border-color: #e5c59d;
}

.no-padding{
  padding: 0;
  margin: auto
}

.item-center{
  text-align: center;
}

.item-right{
  text-align: right;
}

