<div class="container-fluid no-padding">
  <div class="container">
    <div>
      <app-cart-stage [order_step]=4></app-cart-stage>
      <h2 class="title">Review your order </h2>
      <div class="content">
        <app-shipping-confirmation-items></app-shipping-confirmation-items>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-6">
            <div class="box">
              <h4>Shipping address:</h4>
              <div class="shipping-address-details user-name">{{orderService.address.firstName}} {{orderService.address.lastName}}</div>
              <div class="shipping-address-details">{{orderService.address.street}}</div>
              <div class="shipping-address-details">{{orderService.address.city}}, {{orderService.address.country}}</div>
              <div class="shipping-address-details">{{orderService.address.zipcode}}</div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="box">
              <h4>Payment:</h4>
              <div class="shipping-address-details">{{orderService.paymentOption.name}}</div>
              <div class="shipping-address-details">{{orderService.paymentOption.type}}</div>
              <div class="shipping-address-details">{{orderService.paymentOption.cardNumber}}</div>
            </div>
          </div>
        </div>
        <div class="center-buttom">
        <button class="btn btn-style" (click)="placeOrder()">PLACE YOUR ORDER</button>
        </div>
        </div>
    </div>
  </div>
</div>
