<div class="content">
  <div class="center-content">
  <h3 class="info-title">Create a new account</h3>
    <div class="form-group text-left">
      <label for="email">Email address</label>
      <input type="text" class ="form-control" id="email" [(ngModel)]="this.email">
    </div>
    <div class="form-group text-left">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" id="pwd" [(ngModel)]="this.password1">
    </div>
    <div class="form-group text-left">
      <label for="pwd2">Type your password again</label>
      <input type="password" class="form-control" id="pwd2" [(ngModel)]="this.password2">
    </div>
    <div class="center-foot">
      <a >
        <button type="submit" class="btn btn-style" (click)="confirmForm()">NEXT</button>
      </a>
      <div class="connexion-opt">
        Already have an account?
        <a routerLink="/login" class="connextion-link"> Sign in </a>
      </div>
    </div>
  </div>
</div>

