<div class="modal-header">

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
  <h3 class="modal-title">{{product.name}}</h3>
</div>
<div class="modal-body">
        <div *ngIf="this.errorExists" class="alert alert-danger alert-dismissible">
                <a href="#" class="close" (click)="this.errorExists=false" aria-label="close">&times;</a>
                {{errorMessage}}
              </div>
    <div class="container-fluid">
        <div class="col-sm-4">
                <img class="thumbnail img-responsive" src={{product.imageUrl}} style="width:100%" alt="Image">
        </div>
        <div class="col-sm-5">
            <br/>
            <br/>
            <p>Roaster: {{product.roaster}}</p>
            <p>Origin: {{product.origin}}</p>
            <p>Species: {{product.species}}</p>
            <p>Roast: {{product.roast}}</p>
            <p>Flavours: {{product.flavours}}</p>
            <p>Price: {{product.price}}$/kg</p>
        </div>
        <div class="col-sm-3">
                <br/>
                <label>Enter desired quantity (kg)</label>
                <input type="number" min="0" max="10" step="0.5" class="form-control" [(ngModel)]="quantity" (ngModelChange)="calcTotal()">
                <br/>
                <label>Total:</label>
                <p>{{total.toFixed(2)}}$ <span *ngIf="product.promotion !== null"> - <span class="green">{{product.promotion.discount}} % </span>= {{(total - total * product.promotion.discount * 0.01).toFixed(2)}}$</span></p>
                <button *ngIf="!this.alreadyInCart" type="button" class="btn btn-outline-dark" (click)="checkQuantity()">Add to cart</button>
                <button *ngIf="this.alreadyInCart" type="button" class="btn btn-outline-dark" (click)="updateProduct()">Update cart</button>
            </div>
    </div>
</div>

