.modal-content{
    margin-top: 30% !important;
    background-color: #fefcf5;
    color: #47221a;
    font-family: "PT Sans", Helvetica, serif;
}

.modal-title{
    margin-bottom: 5px !important;
    padding-bottom: 0;
    text-align: center;
  font-weight: bolder;
}

.modal-header{
  background-color: #e5c59d;
  color: #47221a;
  font-family: "PT Sans", Helvetica, serif;
  border-radius: 0.3rem 0.3rem 0 0;
}

p {
    color: #47221a;
}

.green {
    color: green;
}

h4:hover {
    cursor: default !important;
  }

.btn {
    background-color: #1e3d42 ;
    color: #fafbff !important;
}

.thumbnail{
  border: solid 1px #e5c59d;
}
