
<div class="container-fluid">
  <div class="container" *ngIf="this.items">
    <div *ngIf="this.items.length === 0"><h1 class="title">Your cart is empty ...</h1>
    <br/>
      <button type="button" id="btnOpen1" class="btn btn-style" routerLink="/shop">
          GO SHOPPING
      </button>
    </div>
    <div *ngIf="this.items.length > 0">
      <app-cart-stage [order_step]=1></app-cart-stage>
      <h2 class="title">Shopping Cart </h2>
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default ">
            <div class="panel-head">
              <div class="row">
                <div class="col-md-7 col-sm-8 col-xs-6">Items in cart ({{getSumItems(items)}})
                </div>
                <div class="col-md-3 col-sm-2 col-xs-3 item-center">Quantity (kg)</div>
                <div class=" col-md-2 col-sm-2 col-xs-3  item-center">Total (C$)</div>
              </div>
            </div>

            <!--items in cart -->
            <div class="panel-body" *ngFor="let item of this.items; let i = index">
              <div class=" row items">
                <div  class=" col-xs-5 col-md-3 col-sm-3" style="height: 100px">
                  <div class="big-box img-box"><img src="{{item.imageUrl}}" class="img-responsive img-produit"
                                                    alt="Image">
                  </div>
                </div>
                <div class="col-xs-4 col-md-3 col-sm-2 col-md-push-4 col-sm-push-5 item-center ">
                  <div class="item-select-quantity">
                            <span (click)="this.substractQuantity(item, i)"
                                  class="glyphicon glyphicon-minus-sign btn-quantity" style="margin-right:8px"></span>
                    <span>{{item.quantity}}</span>
                    <span (click)="this.addQuantity(item, i)"
                          class="glyphicon glyphicon-plus-sign btn-quantity"
                          style="margin-left:8px"></span>
                  </div>
                  <div (click)="this.deleteItem(item.id, i)" class="delete-item">
                    <span class="glyphicon glyphicon-trash"></span>
                  </div>
                </div>
                <div class=" col-xs-2 col-md-2 col-sm-2 col-md-push-4 col-sm-push-5 item-center">
                 <div>{{item.price*item.quantity | number : '1.2-2'}} $</div>
                 <div *ngIf="item.promotion !== null">- {{item.promotion.discount}}%</div>
                 <div *ngIf="item.promotion !== null">{{item.price*item.quantity - item.price*item.quantity*item.promotion.discount*0.01 | number : '1.2-2'}} $</div>
                </div>
                <div class=" col-xs-12 col-md-4 col-sm-5 col-sm-pull-4">
                  <div class="item-title">{{item.name}}</div>
                  <div class="item-description">
                    <div>{{item.company}}</div>
                    <div>{{item.roaster}}</div>
                    <div>{{item.price}} $/kg</div>
                  </div>
                </div>
              </div>
            </div>
            <a routerLink="/shop" class="link-shop">Continue shopping  ></a>
          </div>
        </div>

        <!-- Order summary -->
        {{calcTotalItem(items)}}
        <div class="col-md-4 col-xs-12">
          <div class=" order-summary-box"  >
            <div class="row order-summary-content">
              <div><strong>Total:</strong> <span class="order-summary-price">C<span id="total">{{subtotal|currency}} </span></span></div>
              <div><br></div>
              <button type="button" id="btnOpen1" class="btn btn-style" (click)="checkout()" >CHECKOUT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

