.box-btn-checkout{
  text-align: center;
}

h2:hover{
  cursor: default;
}

div:hover{
  cursor: default;
}

.btn-style{
  color: #e6d6aa !important;
  background-color: #913c36 !important;
  border-radius: 30px;
  padding-right: 40px;
  padding-left: 40px;
}

.btn-style:active{
  color: #e6d6aa;
  background-color: #c97417;
}

.img-produit {
  width:100%;
  min-width: 120px;
  min-height: 50px;
  max-height: 100px;
}

.items{
  padding-top: 10px;
  margin-left: 4px;
  padding-bottom: 20px;
  border-bottom: solid #e5c59d;
  border-width: 1px;
  background: #fefcf5;
  width: 100%;
}

.panel-head {
  padding: 20px;
  font-weight: lighter;
  color: #f1c682;
  background-color: #47221a;
  border-color: #e5c59d;
  margin: -11px -11px 0;
}

.panel{
  background-color: #fefcf5;
}
.panel-default {
  min-width: 360px;
  padding: 10px;
  border-color: #e5c59d;
}

input {
  text-align: center;
}

.item-title {
  color:#47221a;
  font-weight: bold;
}
.item-description {
  color:#47221a;
  font-size: 12px;
  margin-bottom: 15px;
}

.item-select-quantity{
  width: 100%
}

.btn-quantity {
  color: #913c36;
  background-color: #fefcf5;
}
.order-summary-warning {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 30px;
  color: #f1c682;
}

.order-summary-box{
  color: #e5c59d;
  padding: 30px 30px 10px;
  border-radius: 3px;
  background: #fefcf5;
  border: solid 1px;
}

.order-summary-content {
  opacity: 1;
  font-size:16px;
  color:#47221a;
}

.order-summary-price{
  float:right;
  font-weight: bold;
}
.delete-item {
  color: #47221a;
  text-align: center;
  padding-top: 10px;
}

.item-center {
  text-align: center;
}


.img-box {
  width:100%;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(229, 197, 157, 0.8);
  min-width: 120px;
  min-height: 50px;
  max-height: 100px;
  max-width: 180px;
}
img {
  max-height: 100%;
}
.link-shop{
  color: #c97417;
  padding-left: 20px
}



.content {
  background-color: #fefcf5;
  padding: 30px;
  font-family: "PT Sans", Helvetica, serif;
  color:#47221a;
  border: solid 1px #f1c682
}



.no-padding{
  padding: 0;
  margin: auto
}

.modal {
  text-align: center;
  padding: 0!important;
  min-width: 317px;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.glyphicon:hover {
  cursor: pointer !important;
}
