.jumbotron {
    background-color: transparent;
    color: #47221a;
    letter-spacing: 2px;
    padding: 100px 25px;
  }

.btn-default {
  background-color: #1e3d42;
  color: #fafbff;
} 
.btn-default:hover {
  background-color: #2a495e;
  color: #fafbff;
} 
