<app-carousel></app-carousel>
<div class="jumbotron text-center">
    <h1>
      Welcome to Fair Beans!
    </h1>
    <br/>
    <a routerLink="/shop"><button type="button" class="btn btn-default btn-lg">Start Shopping!</button></a>
</div>