.container-fluid {
    padding: 120px 20px 20px 20px;
    background-color: transparent;
  font-family: "PT Sans", Helvetica, serif;
  }

.container-fluid .yo {
    padding: 0 !important;
    background-color: transparent;
}

span {
  padding: 0;
}

.panel-default {
  width: 100%;
  border: solid 1px #e5c59d;
  margin-bottom: 25px;
  max-width: 250px;
  background: #fafbff;
}

.panel-default:hover {
  cursor: pointer !important;
}

.panel-heading {
  color: #fafbff;
  background-color: #1e3d42;
}
.panel-body {
  background-color: #fafbff;
  border-color:  #1e3d42;
}

.panel-footer {
  color:#47221a;
  background: #e5c59d;
  border-radius: 0;
  text-align: left;
  width: 100% !important;
}

img {
  max-height: 208px !important;
	width: auto;
	}


div.image-caffe {
  border: 1px solid #e5c59d;
}


div.container {
  text-align: center;
  padding: 10px 20px;
}


.promo-icon {
  position: absolute;
  text-align: right;
  right: 20px;
  width: 50px;
  transform: rotate(20deg);
}

#one:hover .box {
  background-color: #1e3d42;
  color: white;
}

#one:hover .panel-default {
  border: #1e3d42 1px solid;
}

.box {
  cursor: pointer;
}

a{
  text-decoration: none;
}
