<div *ngIf="this.products" class="container-fluid">
  <div class="container" *ngFor="let itemRow of this.oneDArrayToTwoD(this.products)">
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of itemRow">
        <a (click)="openDetail(item)" id="one" class="box">
          <div class="panel-default">
            <div class=" promo-icon" *ngIf="item.promotion !== null">
              <img src='../../../assets/promocoffee.png' class="img-responsive" alt="promo">
            </div>
            <img class=" img-responsive" src={{item.imageUrl}} style="width:100%" alt="Image">
            <div class="panel-footer box">
              <div><b>{{item.name}}</b></div>
                <div style="font-size: smaller">{{item.roaster}}</div>
              </div></div>
        </a>
      </div>
    </div>
  </div>
</div>


