<div class="content">
    <div class="center-content">
        <h3 class="info-title">Sign in</h3>
        <div class="form-group text-left">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="this.email">
        </div>
        <div class="form-group text-left">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" [(ngModel)]="this.password">
        </div>
        <div class="center-foot"><button type="submit" class="btn btn-default btn-style" (click)="this.confirmForm()">SIGN IN</button></div>
    </div>
</div>
