.row-title{
  font-weight: bold;
  font-size: 16px;
  color: #913c36;
  padding-top: 20px;
}

.row-style{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid #e5c59d;
  border-width: 1px;
}
.content {
  background-color: #fefcf5;
  margin-top: 5%; /* 15% from the top and centered */
  padding: 15px;
  width: 80%;
  min-width: 330px;
  max-width: 700px;
  font-family: "PT Sans", Helvetica, serif;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e5c59d;
}

.clickable:hover{
  cursor: pointer !important;
}

.btn-style {
  color: #e6d6aa;
  background-color: #913c36;
  border-radius: 30px;
  padding-right: 40px;
  padding-left: 40px;
}