<div class="container-fluid">
    <div class="container" *ngIf="this.orders">
      <br>
      <div *ngIf="this.orders.length === 0"><h1 class="title">You have not make any order yet ...</h1>
        <br/>
        <button type="button" class="btn btn-style" (click)="goToShop()">
            GO SHOPPING
        </button>
      </div>
      <div class="content" *ngIf="this.orders.length > 0">
        <h3 class="head">Orders</h3>
        <div class="row row-title">
          <div class="col-sm-2 col-md-3 col-xs-2 title">Date</div>
          <div class="col-sm-2 col-md-2 col-xs-2 title">Order ID</div>
          <div class="col-sm-6 col-md-5 col-xs-5 title">Delivery Address</div>
        </div>
        <div *ngFor="let order of this.orders">
          <div class="row row-style clickable" (click)="showDetail(order.id)">
            <div class="col-sm-2 col-md-3 col-xs-2 title">{{order.command_date | date}}</div>
            <div class="col-sm-2 col-md-2 col-xs-2 title">{{order.id}}</div>
            <div class="col-sm-6 col-md-5 col-xs-5 title">
              <div>{{order.first_name}} </div>
              <div>{{order.last_name}}</div>
              <div>{{order.street}}</div>
              <div>{{order.city}}, {{order.country}}</div>
              <div>{{order.zipcode}}</div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
