body {
    background-image: url(https://i.imgur.com/OU384Bw.jpg);
    min-height: 100%
}

.modal-backdrop.fade
{
  opacity: 0.5 !important;
}
.modal-open .modal
{
  opacity: 1 !important;
}

.content {
    background-color: #fefcf5;
    margin-top: 30px !important;
    width: 80%;
    min-width: 330px;
    max-width: 700px;
    font-family: "PT Sans", Helvetica, serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e5c59d;
  }

  p:hover {
    cursor: default !important;
  }