.navbar{
  margin-bottom: 0;
  background-color: #47221a ;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  border-radius: 0;
  position: fixed;
  width: 100%;
}

.navbar li a, .navbar .navbar-brand {
  color: #f1c682 !important;
  background-color: #47221a !important;
  font-size: 12px;
}

.navbar-brand {
  font-size: 16px !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a, .dropdown:hover .dropbtn {
  color: #47221a !important;
  background-color: #c97417 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #f1c682 !important;
}

.navbar-nav .dropbtn {
  cursor: default;
}

@media only screen and (min-width: 768px){
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #47221a;
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.body {
  padding-top: 50px;
}

.under-navbar {
  padding-top: 50px !important;
}

.alert {
  padding-top: 50px !important;
  position: fixed;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  z-index: 9998 !important;
}