<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/index">Fair Beans</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropbtn">Shop by category
        <span class="caret"></span></a>
        <div class="dropdown-content">
          <a *ngFor="let category of this.categories" [routerLink]="['/shop', {category: category}]">{{category}}</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropbtn">Account
        <span class="caret"></span></a>
        <div class="dropdown-content">
          <a routerLink="/login" *ngIf="!this.loggedIn">Sign in</a>
          <a routerLink="/signup" *ngIf="!this.loggedIn">Sign up</a>
          <a *ngIf="this.loggedIn" routerLink="/orders">Orders</a>
          <a *ngIf="this.loggedIn" (click)="this.signOut()">Sign out</a>
        </div>
      </li>
      <li><a routerLink="/cart">Cart</a></li>
    </ul>
  </div>
</nav>
<div *ngIf="this.errorExists" class="alert alert-danger alert-dismissible">
  <a href="#" class="close" (click)="this.errorExists=false" aria-label="close">&times;</a>
  {{errorMessage}}
</div>
<div class="under-navbar">
  <router-outlet></router-outlet>
</div>
